body {
  text-align: center;
  margin: 0px auto;
  color: rgb(117, 116, 116);
}
span {
  color: #00947a;
}


/* ------header */
header {
}
header .back {
  color: white;
  background-color: #44617b;
  width: 100%;
  height: 490px;
}
header .back {
  position: relative;
}
header .back p {
  position: absolute;
  top: 45%;
  left: 29%;
  transform: translate(-50%, 100%);
  margin: 0;
  padding: 0;
  font-size: 30px;
}
header .back h1 {
  font-weight: bold;
  position: absolute;
  top: 47%;
  left: 29.5%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
header .back p img {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(100%, -25%);
  margin: 0;
  padding: 0;
  width: 500px;
  height: 361px;
}


/* ------reason */
.reason {
  margin: 0px 300px;
}
.reason .reason_title {
  padding-top: 90px;
  padding-bottom: 30px;
}
.reason .reason_title h1 {
  margin-bottom: 20px;
  font-weight: 600
}
.reason .content h1 {
  color: black;
  margin: 0px auto;
  padding-top: 60px;
  font-weight: 600
}
.reason .reason_title p {
  font-size:25px;
  line-height:20px;
}



/* --------------------------------------reason reason_explanation */
.reason  .reason_explanation_1{
  display: flex;
  padding: 45px 0px;
  justify-content: space-between;
}
.reason  .reason_explanation_1 p img {
  max-width: 100%;
  height: auto;
  padding-top: 8px;
}
.reason  .reason_explanation_1 p{
  width: 60%;
}
.reason  .reason_explanation_1 .box-017 {
  width: 40%;
  margin: 0 auto;
  padding: 0em 1.5em 0em;
}
.reason  .reason_explanation_1 .box-017 h4 {
  border-bottom: 3px solid black;
  border-radius: 2px;
  color: black;
  background-color: #F3F3FB;
}
.reason  .reason_explanation_1 .box-017 > div {
  font-size: 1.05em;
}
.reason  .reason_explanation_1 .box-017 > p {
  width: 100%;
  font-size: 20px;
  margin: 0px auto;
  line-height: 25px;
  color: rgb(117, 116, 116);
  text-align: left;
}
/* --------------------------------------reason reason_explanation */
.reason  .reason_explanation_2{
  display: flex;
  padding: 45px 0px;
  justify-content: space-between;
}
.reason  .reason_explanation_2 p img {
  max-width: 100%;
  height: auto;
  padding-top: 8px;
  border: 0.5px solid rgb(117, 116, 116);
}
.reason  .reason_explanation_2 p{
  width: 60%;
}
.reason  .reason_explanation_2 .box-017 {
  width: 40%;
  margin: 0 auto;
  padding: 0em 1.5em 0em;
}
.reason  .reason_explanation_2 .box-017 h4 {
  border-bottom: 3px solid black;
  border-radius: 2px;
  color: black;
  background-color: #F3F3FB;
}
.reason  .reason_explanation_2 .box-017 > div {
  margin-bottom: 1.0em;
  font-size: 1.05em;
}
.reason  .reason_explanation_2 .box-017 > p {
  width: 100%;
  font-size: 20px;
  margin: 0px auto;
  line-height: 25px;
  color: rgb(117, 116, 116);
  text-align: left;
}
/* --------------------------------------reason reason_explanation */
.reason  .reason_explanation_3{
  display: flex;
  padding: 45px 0px;
  justify-content: space-between;
}
.reason  .reason_explanation_3 p img {
  max-width: 100%;
  height: auto;
  padding-top: 8px;
  border: 0.5px solid rgb(117, 116, 116);
}
.reason  .reason_explanation_3 p{
  width: 60%;
}
.reason  .reason_explanation_3 .box-017 {
  width: 40%;
  margin: 0 auto;
  padding: 0em 1.5em 0em;
}
.reason  .reason_explanation_3 .box-017 h4 {
  border-bottom: 3px solid black;
  border-radius: 2px;
  color: black;
  background-color: #F3F3FB;
}
.reason  .reason_explanation_3 .box-017 > div {
  margin-bottom: 1.0em;
  font-size: 1.05em;
}
.reason  .reason_explanation_3 .box-017 > p {
  width: 100%;
  font-size: 20px;
  margin: 0px auto;
  line-height: 25px;
  color: rgb(117, 116, 116);
  text-align: left;
}



/* ------back_question */
.back_question {
  background-color: #f3f3f3;
}


/* ------question */
.question {
  margin: 0px 300px;
  padding-bottom: 80px;
}
.question h1 {
  padding-top: 90px;
  padding-bottom: 30px;
  font-weight: 600
}
.question .qa-006 {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid black;
}
.question .qa-006 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em 1em 3em;
  color: rgb(117, 116, 116);
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.question .qa-006 summary::before,
.question .qa-006 p::before {
  position: absolute;
  left: 1em;
  font-weight: 600;
  font-size: 1.3em;
}
.question .qa-006 summary::before {
  color: #75bbff;
  content: "Q";
}
.question .qa-006 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid #333333b3;
  border-right: 3px solid #333333b3;
  content: '';
  transition: transform .5s;
}
.question .qa-006[open] summary::after {
  transform: rotate(225deg);
}
.question .qa-006 p {
  position: relative;
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: .3em 0em 1.5em;
  font-size: 20px;
  color: rgb(117, 116, 116);
  transition: transform .5s, opacity .5s;
}
.question .qa-006[open] p {
  transform: none;
  opacity: 1;
  text-align: left;
  padding: 10px 50px;
  font-size: 15px;
}
.question.qa-006 p::before {
  color: #ff8d8d;
  line-height: 1.2;
  content: "A";
}

/* ------bottom */
.bottom {
  margin: 0px 300px;
  padding-bottom: 80px;
}

/* ------link */
.link {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.link .box-001 {
  position: relative;
  padding: calc(1em + 25px) 1.5em 1em;
  border: 2px solid #e6edf3;
  border-radius: 5px;
  overflow: auto;
  height: 250px;
  width: 250px;
}

.link .box-001:hover {
  background: #e7e7eb;
}
.link .box-001 svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #e6edf3;
}
.link .box-001 h1 {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 100%);
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: rgb(117, 116, 116);
}
.link .box-001 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: rgb(117, 116, 116);
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f3f3f3;
}
.footer p {
  color: #000;
  font-size: 16px;
  margin: 0 auto;
}


/* ------------------レスポンシブ480px------------------ */
@media screen and (max-width: 480px) {
	body {
    text-align: center;
    margin: 0px auto;
    color: rgb(117, 116, 116);
  }
  span {
    color: #00947a;
  }
  
  /* ------header */
  header {
  }
  header .back {
    color: white;
    background-color: #44617b;
    width: 100%;
    height: 200px;
  }
  header .back {
    position: relative;
  }
  header .back p {
    position: absolute;
    top: 15%;
    left: 50%;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  header .back h1 {
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 29px;
    font-size: 20px;
  }
  header .back p img {
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, 48%);
    width: 213px;
    height: 115px;
  }

  /* ----------------reason */
  .reason {
    margin: 0px 20px;
    padding-bottom: 15px;
  }
  .reason .content h1 {
    color: #757474;
    font-size: 16px;
    font-weight: bold;
    margin: 0px auto;
    padding-top: 20px;
  }
  .reason .reason_title {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .reason .reason_title h1 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .reason .reason_title p {
    font-size:10px;
    line-height: 5px;
  }

  /* ----------------------------------------reason reason_explanation */
  .reason  .reason_explanation_1 {
    padding: 0px 0px 15px 0px;
    display:flex;
    flex-direction: column-reverse;
  }
  .reason .reason_explanation_2 {
    padding: 15px 0px 15px 0px;
    display: block;
  }
  .reason .reason_explanation_3 {
    padding: 15px 0px 15px 0px;
    display:flex;
    flex-direction: column-reverse;
  }
  .reason  .reason_explanation_1 p img {
    height: 150px;
    width: 100%;
  }
  .reason  .reason_explanation_2 p img {
    height: 150px;
    width: 100%;
  }
  .reason .reason_explanation_3 p img {
    height: 150px;
    width: 100%;
  }
  .reason  .reason_explanation_1 p{
    width: 80%;
    margin: 0px auto;
  }
  .reason .reason_explanation_2 p{
    width: 80%;
    margin: 0px auto;
  }
  .reason .reason_explanation_3 p{
    width: 80%;
    margin: 0px auto;
  }
  .reason  .reason_explanation_1 .box-017 {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0.5em 0.5em;
  }
  .reason .reason_explanation_2 .box-017 {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0.5em 1em;
  }
  .reason .reason_explanation_3 .box-017 {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0.5em 1em;
  }
  .reason  .reason_explanation_1 .box-017 h4 {
    border-bottom: 2px solid black;
    border-radius: 2px;
    font-size: 14px;
    color:  black;
    background-color: #F3F3FB;
  }
  .reason .reason_explanation_2 .box-017 h4 {
    border-bottom: 2px solid black;
    border-radius: 2px;
    font-size: 14px;
    color:  black;
    background-color: #F3F3FB;
  }
  .reason .reason_explanation_3 .box-017 h4 {
    border-bottom: 2px solid black;
    border-radius: 2px;
    font-size: 14px;
    color:  black;
    background-color: #F3F3FB;
  }
  .reason  .reason_explanation_1 .box-017 > div {
    margin-bottom: -0.5em;
    font-size: 1.05em;
  }
  .reason .reason_explanation_2 .box-017 > div {
    margin-bottom: -0.5em;
    font-size: 1.05em;
  }
  .reason .reason_explanation_3 .box-017 > div {
    margin-bottom: -0.5em;
    font-size: 1.05em;
  }
  .reason  .reason_explanation_1 .box-017 > p {
    width: 100%;
    padding-top: 8px;
    font-size: 10px;
    color: #757474;
    text-align: left;
    line-height: 11px;
  }
  .reason .reason_explanation_2 .box-017 > p {
    width: 100%;
    padding-top: 8px;
    font-size: 10px;
    color: #757474;
    text-align: left;
    line-height: 11px;
  }
  .reason .reason_explanation_3 .box-017 > p {
    width: 100%;
    padding-top: 8px;
    font-size: 10px;
    color: #757474;
    text-align: left;
    line-height: 11px;
  }


  /* ------back_question */
  .back_question {
    background-color: #f3f3f3;
  }

  /* ------question */
  .question {
    margin: 0px 30px;
    padding-bottom: 40px;
  }
  .question h1 {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .question .qa-006 {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid black;
  }
  .question .qa-006 summary {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2em 1em 1em 2em;
    color: #757474;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .question .qa-006 summary::before,
  .question .qa-006 p::before {
    position: absolute;
    left: 0em;
    font-weight: bold;
    font-size: 1.5em;
  }
  .question .qa-006 summary::before {
    color: #75bbff;
    content: "Q";
  }
  .question .qa-006 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .5s;
  }
  .question .qa-006[open] summary::after {
    transform: rotate(225deg);
  }
  .question .qa-006 p {
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 0em 1.5em;
    font-size: 20px;
    color: rgb(117, 116, 116);
    transition: transform .5s, opacity .5s;
  }
  .question .qa-006[open] p {
    transform: none;
    opacity: 1;
    text-align: left;
    padding: 0px 0px 10px;
    font-size: 10px;
  }
  .question.qa-006 p::before {
    color: #ff8d8d;
    line-height: 1.2;
    content: "A";
  }

  /* ------bottom */
  .bottom {
    margin: 0px 40px;
    padding-bottom: 40px;
  }

  /* ------link */
  .link {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  .link .box-001 {
    position: relative;
    margin: 0px 0px 0px 5px;
    padding: calc(0.5em + 7px) 0.5em 0.5em;
    border: 2px solid #e6edf3;
    border-radius: 5px;
    overflow: auto;
    height: 80px;
    width: 90px;
  }
  .link .box-001:hover {
    background: #e7e7eb;
  }
  .link .box-001 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #c2c6c9;
  }
  .link .box-001 h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 100%);
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: rgb(117, 116, 116);
  }
  .link .box-001 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    margin: 0;
    padding: 0;
    font-size: 5px;
    color: rgb(117, 116, 116);
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3f3f3;
  }
  .footer p {
    color: #000;
    font-size: 10px;
    margin: 0 auto;
  }
}