<br>
<h2>会社概要</h2>
<nav aria-label="パンくずリスト" class="small">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'トップページ', homes_path %></li>
    <li class="breadcrumb-item active" aria-current="page">会社概要</li>
  </ol>
</nav>
<hr />
<table class="table">
  <tbody>
    <tr>
      <th scope="row">会社名</th>
      <td>宗教法人 オウム浅沼</td>
    </tr>
    <tr>
      <th scope="row">資本金</th>
      <td>10.000円</td>
    </tr>
    <tr>
      <th scope="row">設立</th>
      <td>2023年8月</td>
    </tr>
    <tr>
      <th scope="row">所在地</th>
      <td colspan="2">江戸川区中葛西</td>
    </tr>
  </tbody>
</table>
