<h1>達也だよーーーん</h1>
<div class="card" style="width: 18rem;">
  <img src="/assets/IMG_1300.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">HP title</h5>
    <p class="card-text">伝説の職人、浅沼が作成したHP</p>
    <a href="#" class="btn btn-primary">見に行く</a>
  </div>
</div>