<body>
  <header>
    <div class="icon">
      <h1>浅沼館</h1>
    </div>
    <div class="back">
      <div class="top_title">
        <h1>簡単、安全、無料のCMS</h1>
        <p>専門知識なしでウェブサイトの更新・追加が可能。</br>高速性、信頼性、安全性を備えた完全無料のCMS。</p>
        <p><img src="assets/top2.png"></p>
      </div>
    </div>
  </header>
  <main>
    <div class="reason">
      <div class="reason_title">
        <h1><span>浅沼簡単HP作成館のCMS 浅沼館が</span>選ばれる理由</h1>
        <p>専門知識がなくとも簡単に、無料でウェブページの構築や管理が可能。</p>
        <p>無料の浅沼簡単HP作成館 CRMと連携することで、データの一元管理・顧客の見える化・業務効率化を実現します.</p>
      </div>
      <div class="reason_explanation">
        <p><img src="assets/asanuma.jpg"></p>
        <div class="box-017">
          <div><h4>カスタマイズ可能なテンプレートで簡単に構築</h4></div>
          <p>開発者やIT担当者の手を借りなくても、ブランドイメージを反映した、見込み客を惹きつけるウェブサイトを短時間で簡単に作成できます。HubSpotのCMS Hubには、
          モバイル向けに最適化された（レスポンシブ対応）テンプレートが標準搭載されています。豊富なテンプレートの中から好きなものを選ぶことも、ページを白紙の状態から
          作成することも可能です。ドラッグ＆ドロップで操作できるページエディターを使用すれば、ページのコンテンツやフォームから、レイアウトやブランディングまで簡単に
          カスタマイズできます。ページを公開する前に、各種デバイスでの表示レイアウトを確認することも可能です。</p>
        </div>
      </div>
      <div class="reason_explanation">
        <div class="box-017">
          <div><h4>ウェブサイトとコンテンツの継続的な最適化</h4></div>
          <p>統合ダッシュボードでは、ウェブサイトのパフォーマンスを確認できます。SEOに関する推奨事項を参照して、検索結果の上位に表示されるようにページの最適化に取り
          組むことも可能です。さらに、各ページの訪問者数、獲得したコンタクトや顧客の数といった詳しい情報も確認できます。ページのテストでは、1つのページで最大5つのバリ
          エーションを対象に実行すると、最も効果の高いバリエーションが自動的に選出されます。見出しや画像、CTA、フォームなどのあらゆる要素でテストを実施すれば、多くの見
          込み客を短期間で惹きつけます。</p>
        </div>
        <p><img src="assets/asanuma.jpg"></p>
      </div>
      <div class="reason_explanation">
        <p><img src="assets/asanuma.jpg"></p>
        <div class="box-017">
          <div><h4>無料ながら堅固なセキュリティーを提供</h4></div>
          <p>見出し風にタイトルを付けたボックス。上枠線とタイトルの色は、サイトのテーマカラーなどに統一するのがおすすめです。</p>
        </div>
      </div>
    </div>
    <div class="back_question">
      <div class="question">
        <h1>よくある質問 <span>(Q&A)</span></h1>
        <details class="qa-006">
          <summary>これはどのようなテンプレートですか？</summary>
          <p>伝説の浅沼が作成したHPです。</p>
        </details>
        <details class="qa-006">
          <summary>どのような特徴がありますか？</summary>
          <p>開閉できるおかげでコンパクトに見せることができます。質問の数が多い場合などにおすすめです。</p>
        </details>
        <details class="qa-006">
          <summary>これはどのようなテンプレートですか？</summary>
          <p>下線付きの、アコーディオンとして開閉できるQ&Aリストです。</p>
        </details>
        <details class="qa-006">
          <summary>どのような特徴がありますか？</summary>
          <p>開閉できるおかげでコンパクトに見せることができます。質問の数が多い場合などにおすすめです。</p>
        </details>
      </div>
    </div>
    <div>
      <h1>hbikbknbkjkn</h1>
    </div>
  </main>
</body>
