<header>
  <div class="back">
    <div class="top_title">
      <h1>安心、安い、安全</h1>
      <p>トータルWEB戦略</p>
      <p><img src="assets/top2.png"></p>
    </div>
  </div>
</header>
<main>
  <div class="reason">
    <div class="reason_title">
      <h1><span>浅沼簡単HP作成館の浅沼館が</span>選ばれる理由</h1>
      <p>1.制作後の安心できるサポート対応</p>
      <p>2.見積もり無料</p>
      <p>3.お客様が求めてる物を確実に制作</p>
      <p>4.専門知識がなくともその道のプロが分かりやすく説明</p>
    </div>
    <div class="content">
      <h1>作品事例</h1>
    </div>
    <div class="reason_explanation_1">
      <p><a href="https://devenues.com/" target="_blank" rel="noopener"><img src="assets/devenue.png"></a></p>
      <div class="box-017">
        <div><h4>WEBサイト・ホームページ制作</h4></div>
        <p>
          浅沼館では。ホームページを「名刺代わりや信用のために持ちたい」、「集客・採用をしていきくために必要」などお客様の様々なご要望に対して
          担当者がお客様の店舗・オフィスへ伺う訪問提案、もしくはオンラインでの提案をいたします。
          そのため、電話のみでホームページを制作・作成する業者とは違い、お客様のイメージしているホームぺージに近いホームぺージを制作することが可能です。
        </p>
      </div>
    </div>
    <div class="reason_explanation_2">
      <div class="box-017">
        <div><h4>予約機能・お問合せ機能・LINE予約機能</h4></div>
        <p>
          こちらは脱毛専用の予約システムとなっており施術したい箇所を
          クリックするとその箇所の予約ができます。
          予約するお客さまの施術したい箇所のみ選択できることで
          予約がスムーズに進みます。
        </p>
      </div>
      <p><a href="https://mens.knux.jp/"><img src="assets/asanuma.png" target="_blank" rel="noopener"></a></p>
    </div>
    <div class="reason_explanation_3">
      <p><a href="https://soichi-furniture.com/"><img src="assets/souithi.png" target="_blank" rel="noopener"></a></p>
      <div class="box-017">
        <div><h4>EC・ERP・勤怠管理・システム運用</h4></div>
        <p>
          家具屋さんのECサイトになります。運営様が作成した家具などの商品を載せることができ
          その家具を販売することも可能です。
        </p>
      </div>
    </div>
  </div>
  <div class="back_question">
    <div class="question">
      <h1>よくある質問 <span>(Q&A)</span></h1>
      <details class="qa-006">
        <summary>既にホームページを持っているのですが、リニューアルは可能ですか？</summary>
        <p>
          もちろん可能です。メディアクロスがご依頼を受ける案件の半分はリニューアルです。
          メディアクロスではこれまで「古くなった」「更新ができない」「より効果が出るホームページが欲しい」といったお客様の悩みに応えてきました。
          リニューアル後まで専門スタッフのサポートがついておりますので安心しておまかせいただけます。ぜひお気軽にご相談ください。
          お客様の現状とご要望を検討した上で、最適な提案をさせていただきます。
        </p>
      </details>
      <details class="qa-006">
        <summary>ホームページについて詳しくないのですが、相談できますか？</summary>
        <p>
          Devenueでは、一般的なウェブ業者のように専門用語は使いませんのでご安心ください。どなたにもわかりやすい資料をご用意し、一つ一つご説明します。
          弊社では、技術的なお話よりも、経営者様がどのような課題をお持ちであるかをしっかりお聞きし、課題解決策をご提案しています。
          ホームページを活用することでどんなメリットがあるか、まずは簡単に分かる「無料診断」を行わせていただいています。
        </p>
      </details>
      <details class="qa-006">
        <summary>どんな支払い方法がありますか？</summary>
        <p>
          月額払い、分割払いなど、いくつかの支払いプランをご用意しています。
          初期投資を抑えたい企業様の多くは、初期費用０円の分割払いをご利用いただいています。
          お客様に一番合った料金プランをお選びください。
        </p>
      </details>
      <details class="qa-006">
        <summary>スマートフォン対応もしてもらえますか？</summary>
        <p>
          Googleが推奨するレベルでのスマートフォン対応を標準仕様にしております。
          Devenueでは特に、スマートフォン閲覧者の割合のほうが圧倒的に多いお客様もいらっしゃいます。
        </p>
      </details>
      <details class="qa-006">
        <summary>見積もりをお願いしたいのですが有料ですか？</summary>
        <p>
          お見積りは無料です。お客様から正式にご注文をいただくまでは、料金を頂くことはございませんのでご安心ください。
        </p>
      </details>
      <details class="qa-006">
        <summary>補助金は使えますか？</summary>
        <p>
          はい、補助⾦のご活⽤‧申請⽅法などご相談ください。補助⾦によるWeb活⽤‧ホームページ制作を承ります。
          Devenueは経済産業省監督IT導⼊⽀援事業の⽀援事業者として登録されています。
        </p>
      </details>
    </div>
  </div>
  <div class="bottom">
    <div class="link">
      <div class="box-001">
        <a href="https://devenues.com/about" target="_blank" rel="noopener">
          <svg class="window-bar" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="ウインドウのボタン">
            <circle cx="5" cy="4" r="2" fill="#f48384"/>
            <circle cx="15" cy="4" r="2" fill="#fbd172"/>
            <circle cx="25" cy="4" r="2" fill="#82c880"/>
          </svg>
          <h1>company</h1>
          <p>会社概要</p>
        </a>
      </div>
      <div class="box-001">
        <a href="https://devenues.com/contact" target="_blank" rel="noopener">
          <svg class="window-bar" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="ウインドウのボタン">
            <circle cx="5" cy="4" r="2" fill="#f48384"/>
            <circle cx="15" cy="4" r="2" fill="#fbd172"/>
            <circle cx="25" cy="4" r="2" fill="#82c880"/>
          </svg>
          <h1>contact</h1>
          <p>お問合せ</p>
        </a>
      </div>
      <div class="box-001">
      <a href="" target="_blank" rel="noopener">
          <svg class="window-bar" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="ウインドウのボタン">
            <circle cx="5" cy="4" r="2" fill="#f48384"/>
            <circle cx="15" cy="4" r="2" fill="#fbd172"/>
            <circle cx="25" cy="4" r="2" fill="#82c880"/>
          </svg>
          <h1>support</h1>
          <p>サポート</p>
        </a>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>© 2023 <a href = "https://devenues.com/">Devenue Inc.</a>All Rights Reserved.</p>
  </div>
</main>
